/* Shared Styles */
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
}

/* Banner Styles */
.banner {

    text-align: center;
    background-image:
        linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url(resources/Banner\ Image.png);
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    width: 1320px;
    height: 600px;

    margin: 50px 150px 0px 150px;
}


.newyear {
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 177px 530px 0px 530px;
}

.newyearparty {
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    padding: 0px 344px 177px 344px;
}

/* Body Design */
/* Section discount */
.discount {
    /* text-align: center; */
    margin-left: 600px;
    margin-top: 120px;
}

.off {
    color: #F00;

    /* text-align: center; */
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;

}

.smalltxt {
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bigtxt {
    color: #070211;
    /* text-align: center; */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Section New Year */
.happy-new-year {
    margin-top: 48px;
    margin-left: 400px;
}

/* Section midnight party */
.midnight-party {
    display: flex;
    /* gap: 94px; */
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: 50px 150px 0px 150px;
}

.midnight-party-col1 {
    color: #FFF;

    font-family: Merriweather;
    margin: 126px;

}

.midnight-party-col1 h2 {
    color: #FFF;

    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.midnight-party-col1 p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.midnight-party-col1 button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: none;
    margin-top: 32px;
}

.midnight-party-col2 {
    margin-top: 68px;
    margin-right: 130px;
}